@model CodeVault.Models.ViewModels.ProductViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Product Details</div>
    </div>
    <div class="panel-body">
        <section>
        <div class="row" style="padding-top:1em;padding-left:1em;">
            <div class="col-md-10">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" }):
                @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
            <div class="row" style="padding-top:1em;padding-left:1em;">
                <div class="col-md-10">
                    @Html.LabelFor(model => model.Version, htmlAttributes: new { @class = "control-label" }):
                    @Html.DisplayFor(model => model.Version, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        <div class="row" style="padding-top:1em;padding-left:1em;">
            <div class="col-md-10">
                @Html.LabelFor(model => model.Manufacturer, htmlAttributes: new { @class = "control-label" }):
                @Html.DisplayFor(model => model.Manufacturer, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row" style="padding-top:1em;padding-left:1em;">
            <div class="col-md-10">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" }):
                @Html.DisplayFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row" style="padding-top:1em;padding-left:1em;">
            <div class="col-md-10">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" }):
                <p>
                    @Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                </p>
            </div>
        </div>
        </section>
    </div>
</div>
